<a href="https://colab.research.google.com/github/AriorhBiel/12343/blob/main/Copy_of_%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 1

##Загрузка датасета
В файле classification datasets расположены ссылки на датасеты. Выберите один в соответствии со своим вариантом, скачайте и прочитайте файл

**Не забудьте загрузить нужные библиотеки**

Например: pip3 install pandas

In [6]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("Global YouTube Statistics.csv", encoding="ISO-8859–1")
df

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

##Первое знакомство с датасетом
В следующих ячейках выведите:


1.   Колонки датасета
2.   Первые 5 значений
3.   Последние 5 значений
4.   Статистику по числовым колонкам

In [18]:
#наименования колонок
df.columns

Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'Title',
       'uploads', 'Country', 'Abbreviation', 'channel_type',
       'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')

In [19]:
#Первые 5 значений
df.head(5)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [20]:
#Последние 5 значений
df.tail(5)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [22]:
#Статистику
df.describe()

,rank,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,...,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
count,995.00000,9.950000e+02,9.950000e+02,995.000000,9.940000e+02,879.000000,962.000000,9.390000e+02,995.000000,9.950000e+02,...,9.950000e+02,6.580000e+02,990.000000,990.000000,872.000000,8.720000e+02,872.000000,8.720000e+02,872.000000,872.000000
mean,498.00000,2.298241e+07,1.103954e+10,9187.125628,5.542489e+05,386.053470,745.719335,1.756103e+08,36886.148281,5.898078e+05,...,7.081814e+06,3.490791e+05,2012.630303,15.746465,63.627752,4.303873e+08,9.279278,2.242150e+08,26.632783,-14.128146
std,287.37606,1.752611e+07,1.411084e+10,34151.352254,1.362782e+06,1232.244746,1944.386561,4.163782e+08,71858.724092,1.148622e+06,...,1.379704e+07,6.143554e+05,4.512503,8.777520,26.106893,4.727947e+08,4.888354,1.546874e+08,20.560533,84.760809
min,1.00000,1.230000e+07,0.000000e+00,0.000000,1.000000e+00,1.000000,1.000000,1.000000e+00,0.000000,0.000000e+00,...,0.000000e+00,1.000000e+00,1970.000000,1.000000,7.600000,2.025060e+05,0.750000,3.558800e+04,-38.416097,-172.104629
25%,249.50000,1.450000e+07,4.288145e+09,194.500000,3.230000e+02,11.000000,27.000000,2.013750e+07,2700.000000,4.350000e+04,...,5.217500e+05,1.000000e+05,2009.000000,8.000000,36.300000,8.335541e+07,5.270000,5.590832e+07,20.593684,-95.712891
50%,498.00000,1.770000e+07,7.760820e+09,729.000000,9.155000e+02,51.000000,65.500000,6.408500e+07,13300.000000,2.127000e+05,...,2.600000e+06,2.000000e+05,2013.000000,16.000000,68.000000,3.282395e+08,9.365000,2.706630e+08,37.090240,-51.925280
75%,746.50000,2.460000e+07,1.355470e+10,2667.500000,3.584500e+03,123.000000,139.750000,1.688265e+08,37900.000000,6.068000e+05,...,7.300000e+06,4.000000e+05,2016.000000,23.000000,88.200000,3.282395e+08,14.700000,2.706630e+08,37.090240,78.962880
max,995.00000,2.450000e+08,2.280000e+11,301308.000000,4.057944e+06,7741.000000,7741.000000,6.589000e+09,850900.000000,1.360000e+07,...,1.634000e+08,8.000000e+06,2022.000000,31.000000,113.100000,1.397715e+09,14.720000,8.429340e+08,61.924110,138.252924

**Ответьте на следующие вопросы:**


1.   Какие средние значения в каждой числовой колонке вашего датасета?
2.   Минимальные и максимальные значения в каждой числовой колонке вашего датасета



1.   **Ответ 1.** Средние значения каждой колонки находятся во второй строке приведенной выше таблицы
2.   **Ответ 2.** Минимальные и максимальные значения так-же указаны в таблице (min и max - соответственно)

Из-за их размера сложно будет их проанализировать не в графическом виде

##Типизация
Присвойте соответствующим колонкам один из типов (category, float, int)

In [27]:
for col in df.columns:
  if df[col].dtypes == "object":
    df[col] = df[col].astype("category")
df.dtypes

#Вывести типы колонок тут

rank                                          int64
Youtuber                                   category
subscribers                                   int64
video views                                 float64
category                                   category
Title                                      category
uploads                                       int64
Country                                    category
Abbreviation                               category
channel_type                               category
video_views_rank                            float64
country_rank                                float64
channel_type_rank                           float64
video_views_for_the_last_30_days            float64
lowest_monthly_earnings                     float64
highest_monthly_earnings                    float64
lowest_yearly_earnings                      float64
highest_yearly_earnings                     float64
subscribers_for_last_30_days                float64
created_year                                float64
created_month                              category
created_date                                float64
Gross tertiary education enrollment (%)     float64
Population                                  float64
Unemployment rate                           float64
Urban_population                            float64
Latitude                                    float64
Longitude                                   float64
dtype: object

Какие признаки вы можете выделить в своем датасете (категориальные, числовые и др., **минимум 3 разных**, помните что можно также выделить признаки более точно, например числовые - порядковые, количественные и т.д.)?

Категориальные - category, country, channel-type

Категорильно-числовые - created_year/month/date

ЧИсловые - rank?, subscribers, subscribers_for_last_30_days

##Фильтрация
Офильтруйте 3 колонки вашего датасета и выведите результат

In [ ]:
df[df["subscribers"] > 50000000]
#Фильтр колонки 1

In [34]:
df[df["category"].isin(["Music", "Film & Animation"])]
#Фильтр колонки 2

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
10,11,Zee Music Company,96700000,5.785629e+10,Music,Zee Music Company,8548,India,IN,Music,...,1100000.0,2014.0,Mar,12.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
14,15,Goldmines,86900000,2.411823e+10,Film & Animation,goldmines,1,NaN,NaN,Music,...,NaN,2006.0,Aug,15.0,NaN,NaN,NaN,NaN,NaN,NaN
17,18,BANGTANTV,75600000,2.082699e+10,Music,BANGTANTV,2281,South Korea,KR,Music,...,400000.0,2012.0,Dec,17.0,94.3,5.170910e+07,4.15,42106719.0,35.907757,127.766922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,967,Wave Music Bhakti,12500000,5.146004e+09,Music,Wave Music Bhakti,19899,India,IN,Music,...,NaN,2011.0,Apr,19.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
980,981,Zee Kids,12400000,7.683670e+09,Film & Animation,Zee Kids,1212,India,IN,Entertainment,...,100000.0,2012.0,Jul,6.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
982,983,DisneyChannelUK,12400000,1.260749e+10,Music,DisneyChannelUK,4422,United Kingdom,GB,Entertainment,...,NaN,2007.0,Dec,6.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
987,988,Avril Lavigne,12400000,6.202090e+09,Music,Avril Lavigne,205,United States,US,Music,...,NaN,2005.0,Oct,8.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
989,990,Migos ATL,12400000,6.993406e+09,Music,Migos ATL,99,United States,US,Entertainment,...,100000.0,2012.0,Jan,17.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891

In [35]:
df[df["subscribers_for_last_30_days"] > 5000]
#Фильтр колонки 3

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
8,9,Like Nastya,106000000,9.047906e+10,People & Blogs,Like Nastya Vlog,493,Russia,RU,People,...,100000.0,2016.0,Jan,14.0,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
989,990,Migos ATL,12400000,6.993406e+09,Music,Migos ATL,99,United States,US,Entertainment,...,100000.0,2012.0,Jan,17.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

##Группировка
Сгруппируйте датасет по какому-либо категориальному признаку и выведите среднее значение численных колонок (см. метод mean в pandas)

In [40]:
#Группировка

df.groupby("category").mean()

<ipython-input-40-845719a56f29>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("category").mean()

,rank,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,...,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
category,,,,,,,,,,,,,,,,,,,,,
Autos & Vehicles,560.500000,1.785000e+07,7.501729e+09,1898.500000,8.415000e+02,11.000000,45.500000,2.732165e+08,68300.000000,1.086350e+06,...,1.315000e+07,400000.000000,2010.000000,7.000000,44.050000,1.111650e+08,7.215000,9.586069e+07,4.594536,0.961269
Comedy,523.623188,2.012319e+07,7.972649e+09,1119.753623,4.058789e+05,487.104478,346.863636,1.853106e+08,41867.536232,6.683122e+05,...,8.038623e+06,450005.818182,2013.231884,16.289855,61.225373,4.813896e+08,9.492836,2.399634e+08,22.965873,-18.793091
Education,477.311111,2.654222e+07,1.548032e+10,3142.866667,3.614044e+05,330.785714,703.466667,1.858635e+08,43371.311333,6.951778e+05,...,8.324391e+06,308823.529412,2013.600000,15.755556,60.507143,6.518306e+08,9.257857,2.981570e+08,25.438327,-7.988179
Entertainment,512.551867,2.140332e+07,1.048854e+10,11908.481328,6.167031e+05,450.028037,889.189655,1.796649e+08,38973.470539,6.226426e+05,...,7.483962e+06,415748.503226,2012.891667,16.191667,60.274648,4.493971e+08,8.779765,2.252062e+08,25.878448,-2.155727
Film & Animation,361.869565,2.858478e+07,1.183527e+10,2799.652174,7.925529e+05,811.108108,1252.688889,1.930848e+08,45785.087174,7.327018e+05,...,8.797580e+06,520084.714286,2012.369565,14.434783,58.438889,5.816341e+08,9.687222,2.805538e+08,20.379927,-16.921857
Gaming,538.191489,2.085213e+07,7.634456e+09,4313.414894,6.010272e+05,319.621951,891.434783,7.163692e+07,16957.979574,2.719054e+05,...,3.252386e+06,218644.728814,2012.150538,15.763441,74.176543,1.915255e+08,9.389877,1.400914e+08,28.800638,-28.625359
Howto & Style,594.775000,1.939000e+07,5.045439e+09,1673.350000,4.815907e+05,309.058824,436.432432,5.081039e+07,12069.850500,1.927991e+05,...,2.316468e+06,200000.176471,2013.350000,15.850000,66.242424,4.485487e+08,9.345152,2.403113e+08,27.373586,-22.375024
Movies,241.000000,2.565000e+07,7.691628e+09,3553.000000,8.400000e+02,53.000000,16.500000,1.731005e+08,28400.000000,4.547000e+05,...,5.450000e+06,400000.000000,2011.500000,20.000000,28.100000,1.366418e+09,5.360000,4.710315e+08,20.593684,78.962880
Music,446.000000,2.571782e+07,1.545286e+10,2335.509901,4.041852e+05,267.815217,627.277778,1.790282e+08,34592.348564,5.522996e+05,...,6.643245e+06,200919.206612,2010.525000,15.380000,66.657459,3.904696e+08,10.019669,2.160434e+08,26.904038,-27.683379
News & Politics,506.038462,2.063077e+07,1.039969e+10,112484.384615,3.250163e+05,457.846154,527.000000,1.607470e+08,40192.625000,6.426320e+05,...,7.707753e+06,268095.238095,2008.923077,17.000000,44.411538,6.906570e+08,6.505385,2.771031e+08,24.890536,40.582362
Nonprofits & Activism,314.000000,2.775000e+07,5.431456e+09,102912.000000,1.537500e+03,27.000000,1.500000,9.759050e+07,24400.000000,3.904000e+05,...,4.700000e+06,250000.000000,2012.500000,16.500000,69.750000,2.703995e+08,13.390000,2.269523e+08,11.427618,-73.819085
People & Blogs,534.500000,2.105606e+07,9.589327e+09,9190.780303,7.433466e+05,405.548077,1042.171875,1.432201e+08,34177.009167,5.468421e+05,...,6.558866e+06,386439.852273,2014.862595,16.381679,63.909615,3.819289e+08,8.930096,2.128195e+08,27.301737,-10.008890
Pets & Animals,562.750000,1.810000e+07,1.121669e+10,4451.500000,1.013181e+06,70.000000,54.333333,2.006161e+08,49975.500000,7.944322e+05,...,9.575086e+06,325001.250000,2011.250000,15.750000,78.800000,2.411045e+08,11.083333,1.990781e+08,43.186177,-64.953918
Science & Technology,532.000000,1.861765e+07,3.939809e+09,2114.058824,7.128223e+05,632.933333,302.625000,4.654797e+08,12635.411765,2.020432e+05,...,2.415472e+06,206669.466667,2011.176471,17.117647,61.240000,5.250416e+08,8.806667,2.513015e+08,36.939731,-26.317247
Shows,335.461538,4.161538e+07,3.432360e+10,27443.692308,3.124532e+05,42.250000,42.000000,5.501661e+08,126961.538462,2.037662e+06,...,2.438462e+07,500000.153846,2011.461538,14.076923,58.666667,6.908779e+08,8.688333,2.961135e+08,31.581067,7.064300
Sports,550.727273,2.710909e+07,1.345330e+10,14493.727273,1.650182e+03,48.818182,21.818182,2.002255e+08,50063.636364,8.069364e+05,...,9.615118e+06,288888.888889,2008.818182,8.818182,82.072727,1.862806e+08,11.563636,1.542270e+08,29.915034,-36.311045
Trailers,85.500000,3.900000e+07,1.663136e+10,6839.000000,1.800000e+02,23.000000,29.500000,1.562020e+08,22600.000000,3.619000e+05,...,4.350000e+06,300000.000000,2007.000000,21.500000,28.100000,1.366418e+09,5.360000,4.710315e+08,20.593684,78.962880
Travel & Events,957.000000,1.250000e+07,3.140883e+09,766.000000,2.691000e+03,33.000000,171.000000,3.100700e+07,7800.000000,1.240000e+05,...,1.500000e+06,NaN,2015.000000,6.000000,40.200000,1.260140e+08,3.420000,1.026269e+08,23.634501,-102.552784

##Задание для гениев *
Агрегируйте числовой признак по категориальному признаку с использованием метода **без использования** библиотеки pandas, и вычислите медиану и среднее значение для каждой категории.

In [ ]:
#Агрегация